body{
  margin:0;
  background:#111;
  color:#fff;
  font-family:Arial;
}
.page{display:none;padding:15px}
.page.active{display:block}

.home-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
input{
  padding:6px;
  border-radius:6px;
  border:none;
}

.grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
}

.card{
  background:#1c1c1c;
  padding:10px;
  border-radius:8px;
  text-align:center;
}

.thumb{width:100%;border-radius:6px}

button{
  width:100%;
  padding:8px;
  margin-top:6px;
  background:#ff0055;
  border:none;
  color:#fff;
  border-radius:5px;
}

.unlocked{border:2px solid #00ff99}

.bottom-nav{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  background:#000;
}
.bottom-nav button{
  flex:1;
  background:none;
  color:#aaa;
}

.support-list a{
  display:block;
  background:#222;
  margin:6px 0;
  padding:10px;
  border-radius:6px;
  text-decoration:none;
  color:#fff;
}

.join-text{
  text-align:center;
  margin-top:10px;
  color:#ff8080;
}

.avatar{
  width:80px;
  border-radius:50%;
}
